/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
  --font-mono: "Plus Jakarta Sans", sans-serif;

  --primary:#00a1e0;
  --secondary:#423f3f;
  --accsend:#6d6d6d;
  --accsend-light:#888686;
  --color-white:#ffffff;
  --bg-grey:#f7f7f7;
  --button-color:#00a1e0;
  --button-bg-color:#00a1e0;
  --primary-hover:#4a749a;
  --button-hover-text:;
  --button-hover-bg:;

  --box-shadow:;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: var(--font-mono);
  color: #444444;
  font-size:16px
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary-hover);
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
  /* text-wrap:balance */
}
img{
  height: auto;
    max-width: 100%;
}

section{
  padding-bottom:60px 
}
p{
  font-size: 15px;
  color: var(--secnadry);
  line-height: 1.5;
}


/*button css*/
.btn-prime{
  background-color:var(--primary);
  color:var(--color-white);
  padding:.6rem 1.5rem;
  box-shadow: 2px 3px 4px 0px rgb(0 0 0 / 35%);
  border:none
}
.btn-prime:hover{
  background-color:var(--primary-hover);
  color:var(--color-white);
}
.btn-full.btn-prime{
  width: 100%;
                                      
}
.custom-model .getstarted{
  border:none;
  font-size: 14px;
    font-weight: 600;
}






/*custom padding and margin*/
.pd-r-30{
  padding-right: 30px;
}
.pd-l-r-80{
  padding: 0px 60px;
}
.m-top-m-180{
  margin-top: -280px;
}
.m-t-m-240{
  margin-top:-240px
}
.bg-center-two{
  margin-top: -280px;
  z-index:-1;
  position: relative;
  text-align:center
}
.bg-white{
  background: var(--color-white);
    margin-top: -140px;
    position: relative;
    z-index: 2;
    padding-top: 130px;
}

.bg-w{
  margin-top: -160px;
    background: #fff;
    padding-top: 100px;
}

.p-top-60{
  padding-top:60px
}
.p-bottom-60{
  padding-bottom:60px
}
.m-bottom-60{
  margin-bottom:60px
}
.p-t-15{
  padding-top:15px
}
.p-t-20{
  padding-top:20px
}
.p-t-30{
  padding-top:30px
}

.hero.hero-padd{
  padding: 80px 0px 80px;
}
.bg-colo{
  padding-top:60px
}








/*Hero section css*/
.hero{
  text-align: center;
  padding: 60px 0px 265px;
  position: relative;
  overflow: hidden;
}
.m-mines{
  margin-top: -180px;
    margin-bottom: -60px;
}
.hero::before{
  content:"";
  position:absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(221,237,243);
background: -moz-linear-gradient(0deg, rgba(221,237,243,1) 0%, rgba(255,255,255,1) 50%);
background: -webkit-linear-gradient(0deg, rgba(221,237,243,1) 0%, rgba(255,255,255,1) 50%);
background: linear-gradient(0deg, rgba(221,237,243,1) 0%, rgba(255,255,255,1) 50%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ddedf3",endColorstr="#ffffff",GradientType=1);
}
#hero{
  position: absolute;
    width: 110%;
    height: 100%;
    background: url(/img/banner/hero-shape.png) bottom center no-repeat;
    background-size: cover;
    bottom: -36px;
}

.hero .hero-content{
  position:relative
}
.hero .hero-content h1,.hero-banner-two .hero-content h1{
  font-size: 48px;
  font-weight: 600;
  color:var(--secondary);
  margin-bottom:30px
}
.hero .hero-content p,.hero-banner-two .hero-content p{
  font-size: 18px;
  color:var(--accsend-light);
  margin-bottom: 30px;
}


.hero-banner-two{
  text-align: center;
  padding: 80px 0px 0px;
  background: rgb(255,255,255);
background: -moz-linear-gradient(41deg, rgba(255,255,255,1) 25%, rgba(221,237,243,1) 100%);
background: -webkit-linear-gradient(41deg, rgba(255,255,255,1) 25%, rgba(221,237,243,1) 100%);
background: linear-gradient(41deg, rgba(255,255,255,1) 25%, rgba(221,237,243,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ddedf3",GradientType=1);

}
.hero-banner-two .hero-content{
}

.hero-banner-two .hero-content h1 span{
  color:var(--primary);
}
.hero-banner-two .hero-content p{

}
/* .elementor-background-overlay{
  height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.elementor-background-overlay{
  background: url('/img/banner/solution-banner-bg-1.png') top center no-repeat;
    opacity: 0.85;
} */

.elementor-background-overlay{
  position:relative;
  padding-top: 120px;
}
.elementor-background-overlay .bg-top{
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;
    bottom: 80px;
}
.elementor-background-overlay .bg-mid{
  z-index: 3;
    position: relative;
}
.elementor-background-overlay .bg-back{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index:2
}
.hero-banner-two.height-auto{
  padding-bottom: 0px;
  margin-bottom: 60px;
}
.hero-banner-two.height-auto .elementor-background-default{
  padding-top: 0px;
}
.hero-banner-two.height-auto .elementor-background-default img{}













/*floating banner css*/
.banner-pic-flot{
  position: relative;
  text-align:center
}
.main-pi-abso{
  position: absolute;
}
.banner-pic-flot .main-pic-1{
  top: -22px;
    left: 25%;
    animation: mover 2s infinite alternate;
}
.banner-pic-flot .main-pic-2{
  top: 17%;
    left: -60px;
    animation: mover-left 2s infinite alternate;
}
.banner-pic-flot .main-pic-3{
  bottom: -50px;
  left: -30px;
}
.banner-pic-flot .main-pic-4{
  right: -28px;
  top: -33px;
}
.banner-pic-flot .main-pic-5{
  right: -170px;
    top: 35%;
    animation: mover-left 2s infinite alternate;
}
.banner-pic-flot .main-pic-6{
  right: 25%;
  bottom: -45px;
  animation: mover-bottom 2s infinite alternate;
}


@keyframes mover{
  0% {
    transform: translateY(0)
}

to {
    transform: translateY(-20px)
}
}

@-webkit-keyframes mover {
  0% {
      transform: translateY(0)
  }

  to {
      transform: translateY(-20px)
  }
}

@keyframes mover-left {
  0% {
      transform: translateY(0)
  }

  to {
      transform: translateX(-20px)
  }
}

@-webkit-keyframes mover-left {
  0% {
      transform: translateY(0)
  }

  to {
      transform: translateX(-20px)
  }
}

@keyframes mover-bottom {
  0% {
      transform: translateY(0)
  }

  to {
      transform: translateY(-20px)
  }
}

@-webkit-keyframes mover-bottom {
  0% {
      transform: translateY(0)
  }

  to {
      transform: translateY(-20px)
  }
}











/*bg color*/
.bg-grey{
  background-color:var(--bg-grey);
}
.bg-50{
  /* position:relative */
  padding:0px 0px
}
.bg-50::before{
  /* content: "";
    position: absolute;
    background-color: var(--bg-grey);
    width: 45%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1; */
}
.first-column {
  background-color: var(--bg-grey); /* Set the background color for the first column */
  position: relative;
  padding-top: 60px;
    border-bottom: 80px;
}
.first-column::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%; /* Position the pseudo-element at 50% of the screen width */
  width: 100vw; /* Set the width of the pseudo-element to cover the entire viewport width */
  background-color: inherit; /* Inherit the background color of the first column */
  z-index: -1; /* Move the pseudo-element behind the content of the first column */
}
/*service heading design*/
.heading-style-one{
  text-align: center;
    padding-bottom: 30px;
}
.heading-style-one span{
  font-size: 14px;
    color: var(--primary);
    letter-spacing: -0.28px;
    display: block;
    margin-bottom: 5px;
    font-weight:500
}
.heading-style-one h2{
  font-size: 32px;
    font-weight: 600;
    color: var(--secondary);
    margin-bottom: 16px;
}
.heading-style-one p{
  color:var(--accsend);
  font-size: 18px;
  line-height: 1.5;
}

.heading-style-two{
  text-align: left;
    padding-bottom: 30px;
}
.heading-style-two span{
  font-size: 14px;
    color: var(--primary);
    letter-spacing: -0.28px;
    display: block;
    margin-bottom: 10px;
    font-weight:500
}
.heading-style-two h2{
  font-size: 32px;
    font-weight: 600;
    color: var(--secondary);
    margin-bottom: 19px;
}
.heading-style-two p{
  color: var(--secondary);
  font-size: 16px;
  line-height: 1.5;
 
}

.heading-style-three h2{
  font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
.heading-style-three h3{
  font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.heading-style-three h4{
  font-size:18px;
  font-weight: 600;
    margin-bottom: 15px;
}
.heading-style-three p{}

.mobile-banner-hide{
  display:none
}
.hero-banner-two.hero-banner-two-pd-40{
  padding-bottom:60px;
  margin-bottom:30px
}







/*hero section*/
.hero-bg-one{
  position:relative;
  background: rgb(255,255,255);
background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(221,237,243,1) 47%);
background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(221,237,243,1) 47%);
background: linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(221,237,243,1) 47%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ddedf3",GradientType=1);
padding: 120px 0px;
overflow:hidden
}
.hero-ui-one{
  text-align: center;
}
.absolut-img-one{
  position: absolute;
    left: 0;
    top: 0;
}
.absolut-img-two{
  position: absolute;
  right:0;
  bottom:0
}
.hero-ui-one h1{
  font-size: 48px;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 30px;
}
.hero-ui-one p{}
















/*box design*/
.service-box-one{
  position: relative;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 20px 15px 40px;
  background-color:var(--bg-grey);
  transition:.4s ease-out;
  height: auto;

}
.service-box-one .service-box-head{
  display: flex;
    align-items: center;
    gap: 20px;
}
.service-box-one .service-box-head figure{
  width: 64px;
  height: 64px;
  background-color:var(--bg-grey);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-box-one .service-box-head figure img{}
.service-box-one .service-box-head .service-box-title{
  flex-basis: 60%;
}
.service-box-one .service-box-head .service-box-title h3{
  font-size: 20px;
  font-weight: bold;
  color:var(--secondary)
}
.service-box-one .service-box-contant{}
.service-box-one .service-box-contant p{
  font-size:15px;
  color: var(--accsend);
}
.service-box-one .service-box-contant span{
  position: absolute;
  right: 0;
  bottom: 15px;
  display:block;
  opacity: 0;
  visibility: hidden;
  transition:.4s ease-out;
  font-size: 15px;
    font-weight: 500;
}
.service-box-one .service-box-contant span .bi{

}
.service-box-one:hover  .service-box-contant span{
  opacity: 1;
  visibility: visible;
  transform:translateX(-20px);
}
.service-box-one:hover  .service-box-contant .bi{
  transform:translateX(20px);
}

.service-box-one:hover{
  -webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
  background-color:var(--color-white)
}

.box-icon-box{
  padding: 15px 15px 15px 20px;
  position: relative;
}
.box-icon-box::before{
  content: "";
    position: absolute;
    left: 0;
    width: 1px;
    height: 90px;
    bottom: 35px;
    background-color: var(--primary);
}
.box-icon-box img{
  margin-bottom: 20px;
}
.box-icon-box h3{
  font-size: 18px;
  font-weight: bold;
  color:var(--secondary)
}
.box-icon-box p{
}
.box-icon-box.box-icon-box-center{
  text-align: center;
}
.box-icon-box.box-icon-box-center::before,.box-icon-box.border-side-remove::before{
  display:none
}

.service-box-two{}
.service-box-two .service-box-two-inner{
  background: rgb(255,255,255);
background: -moz-linear-gradient(41deg, rgba(255,255,255,1) 0%, rgba(221,237,243,1) 50%);
background: -webkit-linear-gradient(41deg, rgba(255,255,255,1) 0%, rgba(221,237,243,1) 50%);
background: linear-gradient(41deg, rgba(255,255,255,1) 0%, rgba(221,237,243,1) 50%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ddedf3",GradientType=1);
padding: 15px;
}
.service-box-two .service-box-two-inner div:first-child{
  text-align:right
}
.service-box-two .service-box-two-inner img{mix-blend-mode: multiply;}
.service-box-two  .box-content{
  padding: 20px 15px;
    height: 290px;
}
.service-box-two .service-box-two-inner .box-content span{
  display:block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom:10px
}
.service-box-two .service-box-two-inner .box-content p{}

.user-box-card{
  position:relative
}
.user-box-card .user-box-card-info{
  background: #ffffff;
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;
  -webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
-moz-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
border: 1px solid rgb(0 161 224 / 62%);
border-radius:8px
}
.user-box-card .user-box-card-info img{
  width:64px;
  height:64px;
  margin-bottom: 15px;
}
.m-t-20{
  margin-top: -60px;
}
.user-box-card .user-box-card-info .user-card-in{}
.user-box-card .user-box-card-info .user-card-in p{
  font-size: 14px;
  font-weight: 600;
  color:var(--primary);
  margin-bottom: 4px;
}
.user-box-card .user-box-card-info .user-card-in span{
  display:block;
  font-size: 13px;
  color:var(--secondary)
}
.center-image{
  right: -83px;
  position: absolute;
  z-index: 1;
  top: 163px;
  width: 144px;
}

.service-box-three{
  background: var(--bg-grey);
  padding: 15px 25px;
  margin-bottom: 15px;
  transition:.5s ease-out
}

.service-box-three h3{
  font-size: 16px;
  font-weight: bold;
  color:var(--secondary);
  margin-bottom: 10px;
}
.service-box-three  p{
  font-size: 15px;
}
.service-box-three .text-center-p{

}

.animated {
  animation-name: fadeInUp;
  animation-duration: 0.8s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.custom-anc{
  cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-anc:hover,.service-box-three:hover,.service-box-four:hover{
  -webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);

}
.custom-anc a{
font-weight:600;
color:var(--primary) !important
}
.custom-anc:hover a{
  font-weight:600;
  color:var(--secnadry) !important
}

.bg-gradiant{
  background: rgb(221,237,243);
background: -moz-linear-gradient(180deg, rgba(221,237,243,1) 29%, rgba(230,240,244,1) 55%);
background: -webkit-linear-gradient(180deg, rgba(221,237,243,1) 29%, rgba(230,240,244,1) 55%);
background: linear-gradient(180deg, rgba(221,237,243,1) 29%, rgba(230,240,244,1) 55%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ddedf3",endColorstr="#e6f0f4",GradientType=1);
}

.pic-box-one{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic-box-one .desk{}
.pic-box-one .mob{
  display:none
}

.service-box-four{
  background: #fff;
    margin-bottom: 15px;
    padding: 20px 16px;
    position:relative;
    border-radius:8px;
    transition:.4s all ease-out
}
.service-box-four:hover{

}
.service-box-four .box-inner h4{
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary);
}
.service-box-four .box-inner p{
  margin-bottom:0px
}
.icons-flot{
  position: absolute;
  right: 10px;
  top: 10px;
}

.service-box-four:hover{
  transform:translate(5px,-5px)
}
.service-box-four:hover .icons-flot{
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.pricing-box{
  background: #f0fbff;
  width: 100%;
  box-shadow: 0px 11px 25px #00000047, 8px 6px 4px #00000000;
  margin-bottom:15px;
  display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    border-radius: 15px;
}
.pricing-box-header{
    background:rgb(13 128 175);
    padding:10px 30px;
    border-radius: 15px 15px 0px 0px;
    
}
.pricing-box-header h3{
  font-size: 18px;
    color:rgb(255, 255, 255);
    margin-bottom: 0px;
    font-weight: 600;
}
.pricing-box-body{
  padding: 15px 30px 30px;
  flex: 1 1 auto;
}
.pricing-box-body h4{
  font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #0d4257;
}
.pricing-box-body .mon{
  font-size: 14px;
  font-weight: 600;
  color: #252525;
  margin-bottom: 5px;
  display: block;
}
.pricing-box-body .bill{
  color: #062835;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid #78cbec;

}
.pricing-box-body p{
  font-size: 13px;
}
.pricing-box-body ul{
  padding: 0;
    list-style: none;
}
.pricing-box-body ul li{
  display: flex;
    gap: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    color:#181818
}
.pricing-box-body ul li .bi{
  color: var(--primary-hover);
}
.pricing-box-body ul li span{}
.pricing-box-footer{
  padding: 5px 30px 30px;
  background: #d7ebf3;
  margin-top: -1px;
  background: url(/img/banner/hero-shape.png) bottom center no-repeat;
  background-size: cover;
  border-radius: 0px 0px 15px 15px;
}










/*CTA Css*/
.cta{
  background-color:var(--secondary);
padding-top:60px;
margin-bottom:60px

}
.cta-content{}
.cta-content h3{
  color:var(--color-white);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.cta-content p{
  color: #ddedf3;
  margin-bottom: 25px;
  
}


/*tabs design*/
.service-tab-style-one{
  z-index: 2;
    position: relative;
}
.right-service-img{
  padding-left:60px
}
.service-tab-style-one>.nav{
  justify-content: space-between;
  border: none;
}
.service-tab-style-one>.nav-tabs .nav-link{
  cursor:pointer
}
.service-tab-style-one .nav-tabs .nav-link{
  border: none;
  color:var(--secondary);
  font-weight:600;
  font-size:18px
}
.service-tab-style-one>.nav-tabs .nav-link.active{
border:none;
background: transparent;
color:var(--primary)
}
.service-tab-style-one .nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{
  border-color:transparent
}
.service-tab-style-one>.tab-content{
  padding: 40px 0px;
}
.service-tab-style-one .nav-tabs .nav-item {
  position:relative;
  transition:.4s ease-out;
  z-index: 2;
}
.service-tab-style-one .nav-tabs .nav-item:hover::before, .service-tab-style-one .nav-tabs .nav-item .nav-link.active::before{
  content: url(/img/icons/cloud.png);
    position: absolute;
    z-index: -1;
    left: -4px;
    top: -46px;
}











/*tabs inner design*/
.tabs-design-one{
  background: var(--color-white);
  border-radius: 8px;
  padding: 40px;
  margin-top: 20px;
  -webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
}
.tabs-design-one .tabs-design-one-left{
  padding-right: 30px;
}
.tabs-design-one .tabs-design-one-left span{
  font-size: 14px;
    color: var(--primary);
    letter-spacing: -0.28px;
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
}
.tabs-design-one .tabs-design-one-left h3{
  font-size: 32px;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 16px;
}
.tabs-design-one .tabs-design-one-left p{
  font-size: 16px;
  color: var(--secondary);
  margin-bottom:0px
}

.tabs-design-one .tabs-design-one-right{

}
.tabs-design-one .tabs-design-one-right .btn-full{
  margin-top: 15px;
}
.tabs-design-one .tabs-design-one-right .tabs-design-one-list{
  display: flex;
    gap: 20px;
    background: var(--bg-grey);
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom:15px
}
.tabs-design-one .tabs-design-one-right .tabs-design-one-list:last-child{
  margin-bottom:0px
}
.tabs-design-one .tabs-design-one-right .tabs-design-one-list .bi{
  color:var(--primary)
}
.tabs-design-one .tabs-design-one-right .tabs-design-one-list .bi::before{
  font-weight: 600 !important;
}
.tabs-design-one .tabs-design-one-right .tabs-design-one-list p{
  margin-bottom: 0;
    color: var(--secondary);
    font-weight: 600;
}

.colo-design-one{
  cursor: auto;
}
.colo-design-one a{
cursor:pointer
}
.colo-design-one .colo-design-left{
  padding-right:30px
}
.colo-design-one .colo-design-left span{
  font-size: 14px;
  color: #acdcef;
    letter-spacing: -0.28px;
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
}
.colo-design-one .colo-design-left h3{
  font-size: 32px;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 16px;
}
.colo-design-one .colo-design-left h4{
  font-size: 18px;
  line-height: 1.5;
  color: var(--bg-grey);
  margin-bottom: 30px;
}
.colo-design-one .colo-design-left p{
  font-size: 16px;
  line-height: 1.5;
  color: var(--bg-grey);
}


.colo-design-right{}
.colo-design-right .design-list{
  padding: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #4f4d4d;
    border: solid 1px #4f4d4d;
    border-radius: 8px;
    margin-bottom: 15px;
    transition:.4s ease
}
.colo-design-right .design-list .icon{
  border: 1px solid #423f3f;
    border-radius: 50%;
    background: #423f3f;
    width: 40px;
    height: 40px;
    padding: 5px;
}
.colo-design-right .design-list span{
  color:var(--color-white)
}
.colo-design-right .design-list:hover .icon path {
  fill: #00a1e0; /* Change to the desired color */
}
.colo-design-right .design-list:hover span{
  color: var(--primary);
}
.colo-design-right .design-list:hover{
  transform:scale(1.1);
  border: solid 1px #00a1e0;
}













/*inustries*/
.bg-secnadry{
  background-color: var(--secondary);
  margin-top: -180px;
  padding-top: 160px;
}
.tab-content>.active{
  transform: translateY(-6px);
}
.cloude-bg{
  position:relative;
  margin-bottom:60px
}
.cloud-images-1,.cloud-images-2{
  position: absolute;
}
.cloud-images-1{
  right: 0;
    top: -102px;
    animation: mover 2s infinite alternate;
}
.cloud-images-1 img{
  width: 200px;
}
.cloud-images-2{
  bottom: -30px;
    left: 120px;
    animation: mover-left 2s infinite alternate;
}
.cloud-images-2 img{}










/*from section design*/
.form-group {
  margin-bottom: 1rem;
}
.bottom-form{
  margin-bottom:-60px
}
.bottom-form>.row{
  background-color: var(--bg-grey);
    border-radius: 8px;
    padding: 80px 40px;
    position:relative
}
.bottom-form .form-left span{
  font-size: 14px;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 15px;
    display: block;
}
.bottom-form .form-left h3{
  font-size: 32px;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 30px;
}
.bottom-form .form-left .cont-info a:nth-child(1){
  font-weight: 600;
}
.bottom-form .form-left .cont-info a{
  display: block;
    margin-bottom: 10px;
    font-weight:600;
    color: var(--secondary);
}
.bottom-form .form-left .cont-info a:hover{
  color: var(--primary-hover);
}
.form-one{}
.form-one .form-control{
  height:50px;
  border: transparent;
  padding: .375rem 1.4rem;
  font-size: 14px;
}
.form-one textarea.form-control{
  height:auto
}
.form-one .form-control:focus{
  border-color: #20a9e4;
  -webkit-box-shadow: 0 0 0 1px rgb(0 161 228);
  -moz-box-shadow: 0 0 0 1px rgb(0 161 228);
  box-shadow: 0 0 0 1px rgb(0 161 228);

}
.form-one .form-group{
  position:relative
}
.form-one .form-group label {
  position: absolute;
  top: 50%;
  left: 25px;
  font-size:14px;
  transform: translateY(-50%);
  color:var(--secondary); 
  transition: all 0.3s ease-in-out;
  pointer-events: none; /* Disable pointer events on the label */
}
.form-one .form-group input:focus + label,
.form-one .form-group input:not(:placeholder-shown) + label,
.form-one .form-group textarea:focus + label,
.form-one .form-group textarea:not(:placeholder-shown) + label,
.form-one .form-group .form-select:focus + label,
.form-one .form-group .form-select:not(:placeholder-shown) + label,
.form-one .form-group input:focus ~ label,
.form-one .form-group input:not(:placeholder-shown) ~ label,
.form-one .form-group textarea:focus ~ label,
.form-one .form-group textarea:not(:placeholder-shown) ~ label,
.form-one .form-group .form-select:focus ~ label,
.form-one .form-group .form-select:not(:placeholder-shown) ~ label {
  top: 0;
  font-size: 12px;
  color: Var(--primary);
  background: #fff;
  padding: 0px 5px;
  font-weight: 600;
}
.form-one .form-group{
  margin-bottom: 1.2rem;
}
.form-one .form-group .text-danger{
  position: absolute;
    font-size: 11px;
    right: 0;
}
.form-one .react-tel-input {
  font-family: var(--font-mono);

}
.form-one .react-tel-input .form-control{
  width: 100%;
  background: #ffffff;
    padding: .375rem 3.4rem;
    border: none;
    height: 47px;
}
.form-one .react-tel-input .flag-dropdown{
  background-color: #f1f8fa;
  border:2px solid transparent;
  border-right-color:#f1f8fa
}

.form-one .react-tel-input .selected-flag{
  background: rgb(219 245 255);
}
.form-one  .react-tel-input  input:-internal-autofill-selected{
  background: #f1f8fa !important;
}
.contact-form-left{
  -webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #9fe1fb;
    background-color: var(--color-white);
    position: relative;
}
.contact-form-left .form-left .info-one {
  margin-bottom: 30px;
}
.contact-form-left .form-left .info-one span{
  display: block;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 8px;
}
.contact-form-left .form-left .info-one p{
  font-size:15px
}
.contact-form-left .form-left .info-one p a{
  color: var(--secnadry);
  font-weight:600
}
.contact-form-left .form-left .info-one p a:hover{
  color:var(--primary-hover)
}
.form-two textaera.form-control{
  height:auto
}
.form-two .form-control{
  background-color: #f1f8fa;
}
.form-two .form-control:focus{
  background-color: var(--color-white);
}
.form-subscribe{ 
}
.form-subscribe .form-control{
  height: 50px;
}


.form-two .react-tel-input .form-control{
  background: #f1f8fa;
}


.form-subscribe .btn-outline-secondary{
  padding: 0.768rem 1.3rem;
    background-color: var(--color-white);
    margin-left: 10px;
    border-radius: 0px 5px 5px 0px;
}
.form-subscribe .btn-outline-secondary:hover{
  background-color:var(--primary);
}
.form-subscribe .btn-outline-secondary .bi{
  color:var(--primary)
}
.form-subscribe .btn-outline-secondary .bi::before{
  font-weight: bold !important;
}
.form-subscribe .btn-outline-secondary:hover .bi{
  color:var(--color-white)
}

.model-form{

}
.model-form .modal-body{
  padding:0px
}
.model-form .modal-body form .form-control{
  background-color:#f1f8fa
}
.text-light{
  color: black !important;
}
.model-form.modal-dialog {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
.model-form .modal-header{
  position: absolute;
    border: none;
    right: -4px;
    z-index: 1;
    top: -6px;
}
.d-flex-model{
display:flex;
gap:30px;
}

.d-flex-model .model-left{
  position:relative;
  max-width:50%;
  flex:50%;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(41deg, rgba(255,255,255,1) 25%, rgba(221,237,243,1) 100%);
  background: -webkit-linear-gradient(41deg, rgba(255,255,255,1) 25%, rgba(221,237,243,1) 100%);
  background: linear-gradient(41deg, rgba(255,255,255,1) 25%, rgba(221,237,243,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ddedf3",GradientType=1);
  border-radius:10px
}
.d-flex-model .model-left img{
  position: absolute;
    bottom: 0;
    left: 0;
}
.d-flex-model .model-left>div{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.d-flex-model .model-rigt{
  max-width:50%;
  flex:50%;
  padding: 60px 30px 60px 0px;
}

.d-flex-model .model-left h3{
  font-size: 36px;
    font-weight: 600;
    margin-bottom:20px
}
.d-flex-model .model-left h3 span{
  color:var(--primary)
}
.d-flex-model .model-left p{
  font-size:18px
}



/*exatrasection*/
.img-about-bg{
  Position: relative;
  margin-top: -130px;
  z-index: -1;
  text-align: center;
}
.img-about-bg .pic-top-left{}









/*slider*/

.slider-one{}
.slider-one .swiper{
  padding-bottom: 60px;
}
.slider-one .swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color:var(--primary)
}
.slider-one .slider-one-inner{
  padding:40px;
  background-image: linear-gradient(122deg, #fff -72%, #e4f5fb 95%);
}
.slider-one .slider-one-inner h4{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.slider-one .slider-one-inner p{
  margin-bottom: 15px;
}
.slider-one .slider-one-inner ul{
  padding: 0;
  list-style: none;
}
.slider-one .slider-one-inner ul li{
  font-size:16px;
  font-weight:600;
  margin-bottom:10px
}
.slider-one .slider-one-inner ul li .bi{
  margin-right:10px;
  color:var(--primary)
}
.slider-one .slider-one-inner ul li .bi::before{
  font-weight:bold !important
}
.slider-one .slider-one-inner ul li span{}
.slider-one .slider-one-inner a{
  margin-top: 30px;
    margin-bottom: -15px;
    font-weight: 600;
    display: none;
}

.desk-hide{
  display:none
}



/* CustomAccordion.css */

.accordion-one .accordion-header {
  position: relative;
}
.accordion-one .accordion .accordion-button{
  padding-left:0px
}
.accordion-one .accordion .accordion-body{
padding-left:0
}
.accordion-one .accordion .accordion-item{
    border-color: transparent;
    border-bottom: 1px solid #daeef6;
}
.accordion-one .accordion .accordion-item:last-child{
  border-color: transparent;
}
.accordion-one .accordion .accordion-button:not(.collapsed){
  background:transparent
}
.accordion-one .accordion .accordion-button:not(.collapsed) h3,.accordion-one .accordion .accordion-button:hover h3{
color:var(--primary)
}
.accordion-item:first-of-type>.accordion-header .accordion-button{
  border-radius:0px
}
.accordion-one .accordion .accordion-item button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
.accordion-one  .accordion-header::after {
  content: none !important;
}
.accordion-one h3{
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary);
}

.accordion-one  .icon {
  font-size: 1.5rem;
  transition: transform 0.2s;
  display: inline-block;
  color:var(--primary)
}

.accordion-one  .icon.open {
  /* transform: rotate(180deg); */
}
.accordion-one  .accordion-button::after{
  display:none
}
.accordion-one .accordion-body ul li{
  margin-bottom: 15px;
}
.accordion-one .accordion-body ul li:last-child{
  margin-bottom: 0px;
}
/*react video model css*/
@keyframes modal-video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}
.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.modal-video-effect-exit {
  opacity: 0;
}
.modal-video-effect-exit .modal-video-movie-wrap {
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

.modal-video-body {
  max-width: 960px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.modal-video-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (orientation: landscape) {
  .modal-video-inner {
    padding: 10px 60px;
    box-sizing: border-box;
  }
}

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -45px;
  right: 0px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
}
@media (orientation: landscape) {
  .modal-video-close-btn {
    top: 0;
    right: -45px;
  }
}
.modal-video-close-btn:before {
  transform: rotate(45deg);
}
.modal-video-close-btn:after {
  transform: rotate(-45deg);
}
.modal-video-close-btn:before, .modal-video-close-btn:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: var(--color-white);
  border-radius: 5px;
  margin-top: -6px;
}












/*media*/
@media (min-width: 1441px) and (max-width: 1690px){

}

@media (min-width: 1200px) and (max-width: 1440px){
  .hero .hero-content h1,.hero-ui-one h1{
    font-size:38px
  }

  .heading-style-one h2 {
    font-size: 30px;
  }
  .service-box-one .service-box-head .service-box-title h3 {
    font-size: 18px;
  }
  .service-tab-style-one .nav-tabs .nav-link{
    font-size:17px
  }
  .tabs-design-one .tabs-design-one-right .tabs-design-one-list {
    gap: 15px;
    padding: 15px 15px;
}
  .tabs-design-one .tabs-design-one-right .tabs-design-one-list p {
    font-size: 15px;
}
.tabs-design-one .tabs-design-one-left h3,.colo-design-one .colo-design-left h3,.heading-style-two h2,.bottom-form .form-left h3 {
  font-size: 28px;
}
.colo-design-right .design-list span {
  font-size: 15px;
}
.first-column {
  padding-top: 40px;
}
.img-about-bg {
  margin-top: -100px;
}
.center-image {
  width: 130px;
}
.pd-l-r-80 {
  padding: 0px 40px;
}
.m-top-m-180{
  margin-top: -180px;
}
}
@media (min-width: 1200px) and (max-width: 991px){
  
}
@media (min-width: 768px) and (max-width: 991px){
  
}
@media (max-width: 1400px){
  .heading-style-one p {
    font-size: 17px;
  }
}
@media (max-width: 1200px){
  .hero .hero-content h1,.hero-ui-one h1,.hero .hero-content h1, .hero-banner-two .hero-content h1{
    font-size:32px
  }
  .hero .hero-content p,.hero .hero-content p, .hero-banner-two .hero-content p {
    font-size: 18px;
  }
  .heading-style-one h2,.cta-content h3 {
    font-size: 28px;
  }
  .service-box-one .service-box-head .service-box-title h3 {
    font-size: 16px;
  }
  .service-tab-style-one .nav-tabs .nav-link{
    font-size:17px
  }
  .tabs-design-one .tabs-design-one-right .tabs-design-one-list {
    gap: 15px;
    padding: 15px 15px;
}
  .tabs-design-one .tabs-design-one-right .tabs-design-one-list p {
    font-size: 15px;
}
.tabs-design-one .tabs-design-one-left h3,.colo-design-one .colo-design-left h3,.heading-style-two h2,.bottom-form .form-left h3 {
  font-size: 24px;
}
.colo-design-right .design-list span {
  font-size: 15px;
}
.first-column {
  padding-top: 40px;
}
.img-about-bg {
  margin-top: -100px;
}
.center-image {
  width: 130px;
}
.pd-l-r-80 {
  padding: 0px 40px;
}
 
.service-box-one .service-box-head figure img {
  width: 24px;
  height: 24px;
}
.banner-pic-flot .main-pic-2 {
  top: 5%;
  left: -105px;
}
.m-top-m-180{
  margin-top: -120px;
}
.img-about-bg {
  margin-top: -60px;
}
}
@media (max-width: 991px){
  
  .heading-style-one h2 {
    font-size: 24px;
  }
  .service-box-one{
    margin-bottom:15px
  }
  .service-box-one .service-box-contant span{
    opacity:1;
    visibility:visible;
    left: 15px;
  }
  .service-box-one:hover .service-box-contant span {
    opacity: 1;
    visibility: visible;
    transform: translateX(20px);
}
  section {
    padding-bottom: 30px;
}
.colo-design-one .colo-design-left{
  padding-right: 0;
  margin-bottom: 30px;
}
.bottom-form>.row {

  padding: 30px 15px;
}
.p-top-60 {
  padding-top: 30px;
}
.form-left{
  margin-bottom:30px
}
.bottom-form .form-left h3 br{
  display:none
}
.hero-banner-two .hero-content {
  position: relative;
  z-index: 3;
}
.elementor-background-overlay {
  position: relative;
  padding-top: 60px;
}
.hero-banner-two {
  text-align: center;
  padding: 40px 0px 0px;
}
.right-service-img {
  padding-left: 0;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}
.cta img{
  margin-bottom:30px;
  width: 260px;
}
.hero {
  padding: 40px 0px 265px;
}
.hero-bg-one{
  padding: 30px 0px;
}
.mob-m-30{
margin-top:30px
}
.first-column::before{
  display:none
}
.first-column{
  padding:15px
}
.service-box-two .box-content{
  height:auto
}
.m-top-m-180 {
  margin-top: -20px;
}
.img-about-bg {
  margin-top: 0;
}
.m-t-20{
  margin-top: 0;
}
.center-image{
  display:none
}
.bg-center-two {
  margin-top: -40px;
}
.desk-hide{
  display:block
}
.hide-m-sil{
  display:none
}
.tabs-design-one .tabs-design-one-left {
  padding-right: 0px;
  margin-bottom: 20px;
}
.bg-wss {
  padding-top: 40px;
}
.hero-banner-two.height-auto .elementor-background-default img {
  padding-top: 30px;
}
.header.header-scrolled {
  padding: 15px 0 !important;
}
.service-box-two .service-box-two-inner{
  margin-bottom: 15px;
}
.pd-r-30 {
  padding-right: 0px;
}
.mobile-logo{}
.mobile-logo img{
  max-width: 160px;
}
.navbar-mobile ul li{
  margin-bottom: 10px;
}
.header {
  padding: 15px 0 !important;
}
.m-d-none{
  display:none !important
}
.hero-banner-two.height-auto{
  padding-bottom: 0px;
}
.desk-banner-hide{
  display:none
}
.mobile-banner-hide{
  display:block;
  background: linear-gradient(41deg, rgba(255, 255, 255, 1) 25%, rgb(244 251 253) 100%);
  margin: -40px 0px 30px;
  padding-top: 30px;
}
.hero-banner-two.height-auto{
  margin-bottom:0px
}
.bg-w {
  margin-top: 0;
  padding-top: 0;
}

}
@media (max-width: 768px){
  .banner-pic-flot .main-pi-abso{
    display: none;
  }
  .tabs-design-one {
    padding: 30px 15px;
  }
  .service-tab-style-one>.tab-content {
    padding: 0px 0px;
}
  .tabs-design-one .tabs-design-one-left, {
    padding-right: 0;
    margin-bottom: 30px;
}
.heading-style-one h2 br,.heading-style-one p br,.hero-ui-one p br{
  display:none
}
.service-tab-style-one>.nav {
  /* display: inline-flex; */
  
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 15px;
  padding: 0 10px;
  justify-content: normal;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.service-tab-style-one .nav-tabs .nav-item:hover::before, .service-tab-style-one .nav-tabs .nav-item .nav-link.active::before{
display:none
}
.service-tab-style-one .nav-tabs .nav-item {
  flex: 1 0 70%;
}
.service-tab-style-one .nav-tabs .nav-link {
  font-size: 16px;
}
.cloud-images-2{
  display:none
}
.colo-design-right .design-list:hover{
  transform: scale(1);
}
.m-mines {
  margin-top: -180px;
  margin-bottom: -20px;
}
.footer .footer-top .footer-links.col-6 {
  flex: 0 0 auto;
  width: 100%;
}
.footer .footer-top h4 {

  text-align: left;
}
.absolut-img-two{
  display:none
}
.absolut-img-one {
  display: none;
}

}

@media (min-width: 100px) and (max-width: 767px){
  .pic-box-one .mob{
    display:block
  }
  .pic-box-one .desk{
    display:none
  }
  .d-flex-model .model-left{
    display:none
  }
  .d-flex-model .model-rigt{
    max-width:100%;
    padding:40px 15px
  }
}

/*blog new*/

.blog-hero{
  /* margin-top: -90px; */
  padding:80px 0px 80px;
  background: rgb(221,237,243);
  background: -moz-linear-gradient(246deg, rgba(221,237,243,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(246deg, rgba(221,237,243,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(246deg, rgba(221,237,243,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ddedf3",endColorstr="#ffffff",GradientType=1);
}
.over-hidd{
  overflow:hidden
}
.blog-lates-card-one{}
.blog-lates-card-one span{
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 0.2rem 0.8rem;
  margin-bottom: 20px;
}
.blog-lates-card-one a h1{
  font-size: 32px;
  font-weight: 600;
  color:var(--secondary);
  margin-bottom: 20px;
}
.blog-lates-card-one .pic-poster-blog{
  display: flex;
    gap: 14px;
    align-items: center;
}
.blog-lates-card-one .pic-poster-blog a{
  
    font-size:14px
}
.av-info{

}
.blog-lates-card-one  a:hover h1{
  color:var(--primary-hover)
}

.blog-lates-card-one .pic-poster-blog a img{
  width:60px;
  height:60px;
  object:cover
}
.blog-lates-card-one .pic-poster-blog .av-info a{
  font-size:14px
}
.blog-lates-card-one .pic-poster-blog .av-info .av-name a{
  color: #000;
  font-weight: 600;
  font-size:14px
}
.blog-lates-card-one .pic-poster-blog .av-info .av-date{
  color: #252626;
}
.blog-lates-card-one .pic-poster-blog .av-date .m-22{
  display: inline;
    border: none;
    padding: 0px 5px;
}
.mySwiperNew{
  overflow: visible !important;
  padding-bottom: 60px !important;
}
.mySwiperNew .swiper-pagination-bullet{
  width: 50px;
  height: 6px;
  border-radius:0
}
.mySwiperNew  .swiper-pagination-bullet-active{
  background-color: var(--primary);
}
.blog-category-card-one{
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: #f7f7f7;
  transition: all .4s ease-out;
  z-index: 1
}
.blog-category-card-one a{}
.blog-category-card-one >div{
  display: block;
    text-align: right;
}
.blog-category-card-one a>div img{
  padding-bottom: 20px;
}
.blog-category-card-one span{
  display:inline-block;
  color:var(--secondary);
  font-weight:600;
  font-size:16px
}
.blog-category-card-one:hover, .blog-category-card-one.active{
  box-shadow: 30px 30px 90px 0 hsla(255, 8%, 47%, .35);
  z-index: 2;
  background-color:#fff
}
.blog-section-title{
  padding-bottom:30px
}
.blog-section-title h2{
  font-size: 24px;
  font-weight: 600;
  color:var(--primary);
}
.card-blog-02{
  margin-bottom: 50px;
}
.card-blog-02 .card-title a{
  color:var(--secnadry)
}
.card-blog-02:hover{
}
.card-blog-02 .card-title a img{
  display: block;
  margin-bottom: 15px;
  /* height: 245px;
  object-fit: cover; */
  width: 100%;
  transition:.4s ease
}
.card-blog-02 a:hover img{
  transform: scale(1.02);
}
.card-blog-02 .card-title a h3{
  font-size: 20px;
  font-weight: 600;
  color:var(--secnadry);
  margin-bottom: 20px;
}
.card-blog-02 .card-title a:hover h3{
  color:var(--primary);
}
.common-title{

}
.card-categ{
  border:none;
}
.card-categ .card-body{
padding:0px
}
.card-categ .card-body a{
  display: block;
  background: #f4fcffe3;
  border-radius: 8px;
  padding: 20px 0px;
}
.card-categ .card-body a:hover{
  background: #ffffff;
  box-shadow: 30px 30px 90px 0 hsla(255, 8%, 47%, .35);
}
.common-title h1{
  font-weight: 600;
  font-size: 32px;
  color: var(--primary);
  margin: 25px 0px 40px;
  border-left: 5px solid #444041;
  padding-left: 15px;
}
.pb-80{
  padding-bottom:100px;
  padding-top:40px
}
.card-post-ava{}
.card-post-ava a{
  display: flex
;
    gap: 15px;
    align-items: center;
    font-size: 14px;
}
.card-post-ava a img{
  display: block;
}
.card-post-ava .av-info{}
.card-post-ava .av-info .av-name-a{
  font-weight: 600;
    color: #000000;
}
.card-post-ava .av-info .av-name-a span{
  color:var(--primary);
  padding:0px 10px;
  display:inline
}
.card-post-ava .av-info .av-date-b{
  color: #252933;
}
.card-post-ava .av-info .av-date-b span{
  color:var(--primary);
  padding:0px 8px;
  display:inline
}

.po-sticky{
  position: sticky;
  top: 7rem;
}
.bg--bb{
  background-color: rgb(252 252 252) !important;
}
.crm-blog-head{
  padding-top:5rem;
  padding-bottom:5rem
}
.blog-head{
}
.blog-head h1{
  font-size:40px;
  font-size: clamp(1.9rem, 5vw, 2.8rem);
    font-weight: 600;
    margin-bottom: 20px;
    padding-right: 5px;
}
.breadcrumb-list .breadcrumb{}
.breadcrumb-list .breadcrumb .breadcrumb-item{
  color: var(--secondary);
}
.breadcrumb-list .breadcrumb .breadcrumb-item a{
  color: var(--secondary);
}

.breadcrumb-list .breadcrumb .breadcrumb-item a span{
  display:inline-block;
  color: var(--primary);
  font-weight:500
}
.breadcrumb-list .breadcrumb .breadcrumb-item a:hover{
  color: var(--primary);
}
.breadcrumb-list .breadcrumb .breadcrumb-item a:hover span{
  text-decoration:underline
}
.combo-sect{
  display: flex;
    justify-content: space-between;
    padding:0px 0px 0px 0px;
    flex-wrap:wrap
}
.blog-author{
 margin-bottom:10px
}
.blog-author span{
  font-size:14px
}
.blog-author a ,.post-sharing a{
  color: var(--secnadry);
}
.p-30{
  padding-right:30px
}
.post-sharing{}
.post-feture-image{
  padding:10px 0px 10px
}
.post-content-main::first-letter {
  margin-right: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
}
.post-content-main p{
  font-size:16px
}
.post-content-main h2{
  font-size:28px;
  font-weight:600;
  margin-bottom:20px;
  color:var(--primary)
}
.post-content-main h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.post-content-main p img,.post-content-main img{
  padding: 15px 0px 20px;
}
.post-content-main h4{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.post-content-main ul,.post-content-main p ul{}
.post-content-main ul li, .post-content-main p ul li{
  margin-bottom: 10px;
}
.post-content-main ul li a ,.post-content-main p ul li a{}
.post-content-main .table{

}

.card-222{}
.card-222 .card-image-p{
  position:relative
}
.card-222 .card-image-p img{
  height: 250px;
    object-fit: cover;
}
.cate-overl{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: rgb(0 111 154 / 78%);
  color: #fff;
  font-size: 14PX;
  font-weight: 600;
}
.cate-overl a{
  color:#fff
}
.card-avt a{
display:flex;
color:var(--secondary)
}
.card-avt img{}
.card-avt-det{

}
.card-avt:hover a h4{
  color:var(--primary)
}
.card-avt-det h4{
  font-size: 14px;
    font-weight: 600;
}
.card-avt-det p{
  font-size: 14px;
  margin-bottom:0
}
.card-avt-det a{
  font-size: 14px;
  font-weight: 600;
}
.relted-head{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
  color:var(--primary)
}

.sidebars {
}
.sidebars h3{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color:var(--primary)
}
.sidebars .list-group-tb{
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px 15px 20px 40px;
}
.sidebars .list-group-tb li a{
  color: var(--secondary);
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
}
.sidebars .list-group-tb li a:hover{
  color:var(--primary)
}
.sidebars .list-group-tb li:last-child a{
  margin-bottom: 0
}
.sidebars .list-group-tb .active a{
  color:var(--primary)
}
/* ol.list-group-tb {
  counter-reset: item;
}
ol.list-group-tb li {
  display: block;
}
ol.list-group-tb li:before {
  content: counter(item) ". ";
  counter-increment: item;
  margin-right: 5px;
} */
.list-group-tba {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 7px;
  padding-left: 0;
}
.list-group-tba .list-group-cu a{
  display: inline-block;
  background: #d4d4d4;
  border-radius: 5px;
  margin-bottom: 0px;
  padding: 5px 10px;
  font-size: 14px;
  color: #000000;
  transition:.4s ease
}
.list-group-tba .list-group-cu a:hover{
  background:var(--primary);
  color: #fff
}
.pd-90{
  padding: 40px 0px;
  background: #a9d0df24;

}
.auther-inner{
  text-align:center
}
.common-title-two{
  padding:60px 0px 30px
}
.common-titles h1{
  font-size: 30px;
  font-weight: 600;
  color:var(--primary)
}
.common-titles p{
  font-size: 16px;
  color: #000000;
  padding-right: 100px;
}

.common-title-two h2{
  font-size:24px;
  font-weight:600
}
.sidebars ol li.active::marker {
  color:var(--primary);
  font-weight:600;
}
.sidebars ol li:hover{
  color:var(--primary);
}


/* Large Screens */
@media (min-width: 1201px) {}
/* Standard Desktops */
@media (min-width: 1025px) and (max-width: 1200px) {}
/* Small Laptops */
@media (min-width: 769px) and (max-width: 1024px) {}
@media (max-width: 991px){
  .blog-lates-card-one {
    padding-bottom: 40px;
}
  .blog-hero{
    padding: 40px 0px 40px;
  }
}
@media  (max-width:768px){
  .crm-blog-head {
    padding-top:3rem;
    padding-bottom:3rem
}

.post-content-main h2 {
  font-size: 24px;
}
.post-content-main h3 {
  font-size: 20px;
}
.post-content-main h4 {
  font-size: 18px;
}
}

/* Tablets */
@media (min-width: 577px) and (max-width: 768px) {}
/* Larger Mobile */
@media (max-width: 576px) {} 